
.frame-container {
    width: 800px; /* adjust as needed */
    height: 800px; /* adjust as needed */
    background: url('') no-repeat;
    padding: 20px; /* adjust as needed to align your content properly within the frame */
}

@font-face {
    font-family: 'Compaq';
    src: url(../Compaq_Port3.woff);
}

body {
    font-family: 'Compaq';
    cursor: url('../CSS/cursor.png'), auto;
    text-align: justify;
}