
.frame-container {
    width: 800px; /* adjust as needed */
    height: 800px; /* adjust as needed */
    background: url('../CSS/heartframe.gif') no-repeat;
    padding: 20px; /* adjust as needed to align your content properly within the frame */
}
